[2019-12-09 06:03] jbenman opened #3 "How is an apostrophe to be placed in a StyledText?"
I might have a slightly strange use-case (storing lots of styled text strings as values in json files, so xml in a json file) but I can't seem to find a way to make apostrophes appear. This is true even when I run the example app and try to put a word with an apostrophe in one of the strings.

I've tried using the escape sequence: \\' but this has no effect on the output (and would be incorrect wh

[2019-12-27 21:24] jaymacdonald67 commented on #3
I am also having an issue using an apostrophe.

[2020-03-07 04:31] liudonghua123 opened #4 "new line support?"
I have text with new line break, but the text are all together.

[2020-03-07 10:56] andyduke commented on #4
What do you use to separate lines: `\n` or `<br/>` tag?

[2020-03-07 11:04] liudonghua123 commented on #4
I use multi line string like the following, I think it have the same meaning as `\n`.
[code]

[2020-03-07 11:06] andyduke commented on #4
You need to insert the `<br/>` tag in the places where you want to have line breaks.

[2020-03-10 15:43] #4 closed

[2020-03-30 15:52] LugonjaAleksandar opened #5 "New line character doesn't break text into new line"
When I want to format text like this:
`"First line text and <link>click here</link>.\n\nSecond line of text.\n\nThird line."`

I expect that this text will be drawn in multiple lines, but what I see on my screen is that `\n` characters are completely ignored.  Any ideas on how to overcome this difficulty and use line breaks?

[2020-03-30 16:23] andyduke commented on #5
You need to use `<br/>` to break line.

[2020-03-30 16:26] #5 closed

[2020-04-27 15:23] shredding commented on #3
Any chance we can merge this soon?

[2020-04-27 19:17] #3 closed

[2020-04-27 20:52] shredding commented on #3
Thx!

[2020-04-29 10:16] Dri27 opened #7 "MultiLine Support"
Hey! This Widget is awesome <3

I am formatting a loooong text, with lots of new lines... and I am aware that I have to use the breaking tags for new lines, but I was wondering if you could add an option like 'multiLine: true' or something like that, so that we don't have to deal with new lines on multiline strings.

It's just a suggestion for this widget, I don't even know if that's possible, but

[2020-04-29 10:25] andyduke commented on #7
Yes, that might be helpful. I will try to do this soon.

[2020-04-29 11:08] andyduke commented on #7
@Dri27 Implemented as an isNewLineAsBreaks parameter.

[2020-04-29 11:08] #7 closed

[2020-06-19 08:56] Brinfotech1407 opened #8 "Does it support emoji ?"
I have used it like whatsapp formatting text , so if i want to display emoji in text view how can i do that ?

[2020-08-13 01:17] jpgpuyo opened #9 "How to apply custom style to all the text?"
Hello,

First of all, thanks for your contribution, this is very useful package.
But I would like to apply custom style to all the text,with the parameter 'style', something like that:
[code]
So, is it possible change the  default style to all text?. I tried and the text disappears. If I remove the style parameter, then the text appears again.
Thanks!

[2020-08-13 01:44] jpgpuyo commented on #9
I fixed the issue, the problem was that the color it was not specified and the text is invisible. It was crazy to detect because the framework in this case is not providing any tip about that :)
Thanks!

[2020-08-13 01:44] #9 closed

[2020-08-13 06:26] andyduke commented on #9
Perhaps Flutter Inspector will help you in this situation.
https://flutter.dev/docs/development/tools/devtools/inspector

[2020-09-15 17:07] TheObviousChico opened #10 "StyledText does not rebuild when setState updates variables."
I used the widget with the style : StyledText(fontFamily, fontSize and height) properties which gets updated when the user changes these settings but the widget does not adjust to these changes. The hierarchy tree is: Consumer->FutureBuilder->ListView.builder()->ListTile() and within the title property I use the StyledText()

[2020-09-15 18:05] andyduke commented on #10
@TheObviousChico
Fixed and posted on pub.dev.

[2020-09-15 18:47] InroEn commented on #10
Thanks and greatly appreciated.

[2020-09-17 04:12] InroEn commented on #10
The bug has been fix but now when it rebuilds, it now double flashes each time when the screen rebuilds. I tried it with a normal RichText() widget to make sure and it worked normal.

[2020-09-17 07:47] andyduke commented on #10
@TheObviousChico
Fixed and published on pub.dev.

[2020-09-17 07:47] #10 closed

[2020-09-23 08:50] edwinaceron opened #11 "double quotes won't show"
How would I show the double quotes? I did use replaceAll that would replace double quote with \" but still it won't show.

[2020-09-23 09:00] andyduke commented on #11
Try `&quot;` instead of "

[2020-09-23 09:29] edwinaceron commented on #11
thanks andy!

[2020-09-23 09:29] #11 closed

[2020-09-28 17:32] cheekiat opened #12 "How to set default text color?"
like 'here is <b>test</b>' how to set "here is" text color?

[2020-09-28 18:05] andyduke commented on #12
@cheekiat
You can set the color through the `style` property like this:
[code]

... or using the `DefaulTextStyle` class, like this:
[code]

[2020-09-28 19:24] #12 closed

[2020-11-12 01:51] TheObviousChico opened #13 "Removes single and double quotations from the String being displayed."
Say, I want to display.
i.e: Lisa asked Shane "How was the weather?" asked Lisa.
I want to display the quotations marks but it's being trim out and doesn't even leaves the spacing between the words. Like I'''''''''m -> I    m but does Im instead.
Also using a raw string does not seem to help.
Ran through the code and saw that I could use [& a p o s ;] in my String to get the ' character but it wou

[2020-11-12 07:37] andyduke commented on #13
Replace the quotation mark `"` with `&quot;`

Example:
[code]
Will be drawn as:
Quoted Test: **"bold"** text.

[2020-11-12 11:44] InroEn commented on #13
Yes, in which I found out by going through the source code but most people wouldn't know that so it at least needs to be documented. 🙂

[2020-11-12 14:43] andyduke commented on #13
I've added an escaping instruction to the documentation.

[2020-11-12 14:45] #13 closed

[2020-11-12 14:51] andyduke commented on #8
Yes, you can insert them just like in a normal Text widget:
[code]

[2020-11-12 14:51] #8 closed

[2020-11-23 04:23] shreyas18jan opened #14 "No named parameter with the name 'cursorHeight'"
I imported the dependency, tried to run my sample code. I'm seeing No named parameter with the name 'cursorHeight' issue.

![Screen Shot 2020-11-23 at 8 05 38 AM](https://user-images.githubusercontent.com/16950889/99928501-5f64e680-2d6f-11eb-87f2-04aee0c7feef.png)
![Screen Shot 2020-11-23 at 8 08 26 AM](https://user-images.githubusercontent.com/16950889/99928506-625fd700-2d6f-11eb-97aa-3559481512d

[2020-11-23 10:21] andyduke commented on #14
@shreyas18jan You need to update Flutter to the latest stable version.

[2020-11-24 05:59] shreyas18jan commented on #14
Thanks, After taking latest stable version it started working fine.

Closing this issue.
![Screen Shot 2020-11-24 at 11 28 26 AM](https://user-images.githubusercontent.com/16950889/100054511-2d738300-2e48-11eb-94db-648e934179a8.png)

[2020-11-24 05:59] #14 closed

[2020-12-04 18:15] Fabio-Paccosi opened #15 "Apostrophe character not shown in my text"
When I try to show styled text I cannot see apostrophe character:

`StyledText(
                  text: "Bell'articolo",
                  TextAlign: TextAlign.left,
                  style: ArticleTextStyle.getAbstractStyle(text_color: "#000000", font_size: 16),
                  styles: {
                    //Text styles
                    'u': ArticleTextStyle.getAbstractStyle(text_color: "#0

[2020-12-04 23:24] andyduke commented on #15
@Fabio-Paccosi
Some characters need to be escaped, see here - https://pub.dev/documentation/styled_text/latest/styled_text/StyledText/text.html

[2020-12-05 06:27] Fabio-Paccosi commented on #15
Thank you! I can close this issue

[2020-12-05 06:27] #15 closed

[2020-12-13 17:16] jaumard opened #16 "Color with hex values"
The API I'm using is returning this:

[code]

Would be nice if this package can handle that kind of tag

[2020-12-13 23:53] andyduke commented on #16
@jaumard
Yes, that would be a nice feature. I'll add it in the near future.

[2020-12-14 18:32] andyduke commented on #16
@jaumard
I added a `CustomTextStyle` class to handle the attributes passed to tags. See example in README.md

[2020-12-14 19:00] jaumard commented on #16
Nice! Thanks!

[2020-12-14 19:00] #16 closed

[2020-12-31 21:20] HulioEglesias opened #17 "Symbols limit"
I insert a long text, but when it rendered, I see part of the text. It's about 824 symbols. So can I insert more text than 824?

[2021-01-16 05:06] CodeSpartan opened #18 "Newline charater doesn't get converted to <br/>"
This code works fine:
[code]
Result:
![img1](https://i.gyazo.com/9717f9a567e129202c3c054e2554d76b.png)

But this code produces a different result:
[code]
Result:
![img2](https://i.gyazo.com/03a54c649007f261f6877337525188f1.png)

The problem occurs on the latest version: 1.0.3+1

[2021-01-16 05:10] CodeSpartan commented on #18
Ah, I see, it only works when newLineAsBreaks is set to true.
I think it should be true by default -- why wouldn't it? Anyway, closing the issue.

[2021-01-16 05:10] #18 closed

[2021-01-16 06:12] andyduke commented on #18
@CodeSpartan For compatibility reasons with the first versions of StyledText and to better conform to the HTML standard.

[2021-01-21 20:38] Zabadam commented on #16
In the initial question, and through the usage of the referenced solution `CustomTextStyle()`, can "color" be both the `<tag>` and an `attr`?

[2021-01-21 20:47] Zabadam opened #19 "Consectuive interpreted tags within a String that are space-separated will lose the space"
# Example
I have a `description` property that is a passed to a `StyledText()` widget.

One such `description` reads:
"A finely crafted hat adorned with an inky black strand of `<link npc='crow'>`Crow`</link>` `<link id='feather'>`feather`</link>`. Well-suited for the hero that strikes from afar."

When rendered in my application, the String has lost the space between the consectuive `<link>` tags

[2021-01-22 01:59] Zabadam commented on #19
As a workaround I have added a `.replaceAll('&s;', ' ')` check to `e.value`;
employed in .JSON database thusly:
"A finely crafted hat adorned with an inky black strand of `<link npc='crow'>`Crow`</link>`&s;`<link id='feather'>`feather`</link>`. Well-suited for the hero that strikes from afar." (no space between consecutive tags, only '&s;')

When rendered in my application, the String has an appro

[2021-01-22 02:09] Zabadam opened #20 "IconStyle() is limited and does not provide any properties for customization of presentation"
# _Rudimentary_ Workaround
Suggestion:
[code]
[code]

[2021-01-22 02:19] Zabadam commented on #20
Initially I did not even have my custom icons.otf setup as an class with `IconData`s, but I decided having the self-terminating `<tags/>` would be worth the effort.

[2021-01-22 15:56] andyduke commented on #17
@HulioEglesias I've tested StyledText for long text, at least 1295 characters are output without truncation. I think that more will be displayed normally.

[2021-01-22 17:08] andyduke commented on #20
@Zabadam I have released a new version with these improvements.

[2021-01-22 17:13] andyduke commented on #19
@Zabadam At the moment the problem is in the [xmlstream](https://github.com/jorishermans/xmlstream) package which I am using to parse tags. I created a [issue](https://github.com/jorishermans/xmlstream/issues/12) in the package's github, but temporarily as a workaround you can use `&space;` between tags: `<b>bold</b>&space;<i>italic</i>`

[2021-01-22 17:15] #17 closed

[2021-01-22 17:15] #20 closed

[2021-01-23 02:15] Zabadam commented on #20
Rapid response. Excellent package, thank you!
P.S. I ended up adding an xPadding property myself that's passed as letterSpacing (since Icons are only one 'letter' this hacks out just fine).

[2021-01-24 14:09] andyduke commented on #19
@Zabadam A issue was fixed in xmlstream, I released a new version where the problem was fixed.

[2021-01-24 14:09] #19 closed

[2021-01-30 10:31] Brinfotech1407 opened #21 "Need to set hyper link for email and phone number"
For bold italic it is working fine i need to display the email with hyperlink and same as moblie number

[2021-01-30 10:37] andyduke commented on #21
Perhaps this is what you want:
https://github.com/andyduke/styled_text_package/blob/c7acd7e9660671ffffc4000768acb5c9bbc72330/example/lib/main.dart#L146-L155

[2021-01-30 11:08] Brinfotech1407 commented on #21
I am working on chat app where user will enter email or phone no or url as a message so in that case i think i need to manually append this <link> tag ?

[2021-01-30 14:21] andyduke commented on #21
@Brinfotech1407 Do you want to automatically convert a URL, email, or phone number in text into an tappable link?

[2021-01-30 14:25] Brinfotech1407 commented on #21
Yes exactly

On Sat, 30 Jan 2021, 19:52 Andy Chentsov, <notifications@github.com> wrote:

[2021-01-30 14:35] andyduke commented on #21
In this case, you need to use another package (for example [Cretezy/linkify](https://github.com/Cretezy/linkify)) to recognize URLs, e-mails and phone numbers and then convert them to text with xml tags, which can be used in StyledText.  Or use a package that does it all at once, for example [Cretezy/flutter_linkify](https://github.com/Cretezy/flutter_linkify).

[2021-01-30 23:55] #21 closed

[2021-02-08 07:08] hsiami opened #22 "Unhandled Exception: Bad state: No element"
[ERROR:flutter/lib/ui/ui_dart_state.cc(177)] Unhandled Exception: Bad state: No element
 ListQueue.removeLast (dart:collection/queue.dart:767:25)
_StyledTextState._updateTextSpans.<anonymous closure> (package:styled_text/styled_text.dart:353:30)
_rootRunUnary (dart:async/zone.dart:1198:47)
_CustomZone.runUnary (dart:async/zone.dart:1100:19)
_CustomZone.runUnaryGuarded (dart:async/zone.dart:1005:7)

[2021-02-08 07:46] andyduke commented on #22
@hsiami Can you provide minimal code that reproduces this error and the output of `flutter doctor -v` command?

[2021-02-08 07:55] hsiami commented on #22
It occurs when xml is malformed

[2021-02-08 07:57] andyduke commented on #22
@hsiami Can you give an example of such xml?

[2021-02-08 08:01] hsiami commented on #22
وَ اَللَّهِ لَقَدْ أَسَرَكَ اَلْكُفْرُ مَرَّةً وَ <em>اَلْإِسْلاَمُ</em> أُخْرَى فَمَا فَدَاكَ مِنْ وَاحِدَةٍ <phrase

[2021-02-08 08:16] hsiami commented on #22
sorry, above example doesn't have problem. try this to produce the error:
"  hello world />"

[2021-02-09 18:40] andyduke commented on #22
@hsiami I have improved handling of broken xml, sorry for the delay.

[2021-02-09 18:40] #22 closed

[2021-02-22 18:21] andreyevyk opened #23 "Better documentation"
Many things what i want to use in the project, like a break line, don't are in documentation.

[2021-02-22 20:17] andyduke commented on #23
What exactly is missing from the documentation?

[2021-02-23 17:00] Zabadam commented on #23
Here are the [escape characters you may use.](https://pub.dev/documentation/styled_text/latest/styled_text/StyledText/text.html)

New lines may be produced simply by '\n' within the `text` param, considering the [newLinesAsBreaks property](https://pub.dev/documentation/styled_text/latest/styled_text/StyledText/newLineAsBreaks.html).

Unverified, because I haven't tried, but a self-terminating brea

[2021-03-04 16:56] NicolaChimerapps opened #24 "Migrate to nullsafety"
Please update the library to support nullsafety

[2021-03-04 17:34] andyduke commented on #24
I am awaiting acceptance of my null-safety [pull-request](https://github.com/jorishermans/xmlstream/pull/14) for the xmlstream package that is being used in StyledText.  Once the PR is accepted, I will immediately add null-safety support.

[2021-03-10 04:25] sumitasharma opened #25 "TextOverflow.ellipsis for web with maxLines not working"
Hi,

I am having an issue with overflow: TextOverflow.ellipsis for web.
I am unable to see ellipsis for my text. The code :
return Container(
        alignment: Alignment.topLeft,
        child: StyledText(
            text: myText,
            newLineAsBreaks: true,
            maxLines: 2,
            overflow: TextOverflow.ellipsis,
            style: TextStyle(fontSize: 15),
            styles

[2021-03-10 04:45] sumitasharma opened #26 "maxLines doesn't work for web"
Hi,

maxLines for web is not working if the text has multiple line text but the first line isn't long enough for the container that holds the text in it.
ex. If my text has 4 lines but the first line is short, maxLines doesn't work and shows the entire text.

I made changes to Container size to make the maxLine work.
 Container(width: (myText.toString().split('\n')[0].length > 70) ? 680 : 600)
Tha

[2021-03-10 14:18] apalala-dev commented on #23
This package is great but I believe these things (how to insert new lines, escaping charaters) should be in the Readme file. In french for instance, the apostrophe is pretty common and is not printed if nothing is done. A simple `.replaceAll("\'", "&apos;")` fixes it.

[2021-03-10 15:17] andyduke commented on #25
@sumitasharma Can you provide the output of the `flutter doctor -v` command and a minimal self-contained example code to reproduce this problem?

[2021-03-10 17:35] sumitasharma commented on #25
@andyduke I have created a small code snippet similar to the card where I want to display my text. Looks like when I am using **tags**, it's not working but when I remove tags, it works.
Note that for some reason the tags are not displaying in the view, but if you go into edit view for this message you will see the bold tags.
[code]
flutter doctor -v
[✓] Flutter (Channel beta, 1.23.0-18.1.pre, on

[2021-03-10 18:16] andyduke commented on #25
@sumitasharma I'll see what the problem is.

You can style your code by enclosing it in triple backticks, like this: ```code```.

[2021-03-10 18:24] sumitasharma commented on #25
@andyduke I changed the above now. Thanks

[2021-03-11 08:22] andyduke commented on #25
@sumitasharma I tested how `TextOverflow.ellipsis` works in the web version in Flutter 1.24 beta channel, there really is a problem that you are writing about. But in Flutter 2.0 this problem no longer exists, everything works as it should for both renderers (html and canvaskit).

[2021-03-11 11:55] #24 closed

[2021-03-11 11:57] andyduke commented on #23
I have updated the [Readme](https://pub.dev/packages/styled_text/versions/2.0.0-nullsafety.0) in version 2.0.0 with null-safety.

[2021-03-11 11:57] #23 closed

[2021-03-11 16:49] sumitasharma commented on #25
Thanks a lot for looking into this.

[2021-03-11 16:49] #25 closed

[2021-03-11 17:05] andyduke commented on #26
@sumitasharma Is this problem still after upgrading to Flutter 2.0?

[2021-03-14 22:00] sumitasharma commented on #26
Hi Andy,
Yes, it is worrking in Flutter 2.
Thanks

[2021-03-14 22:00] #26 closed

[2021-03-28 08:52] rezam92 opened #27 "Error when building app when upgrade flutter"
When i try to compile project, i got this error because of upgrading flutter to version 2.1.0-12.2.pre

Error: The method 'CustomStyle.apply' has fewer named arguments than those of overridden method
class 'CustomTextStyle' is missing implementations for these members: - TextStyle.leadingDistribution

[2021-03-30 11:21] andyduke commented on #27
@rezam92 I am waiting for the release of this version of Flutter.

[2021-03-30 13:52] Kobatsu opened #28 "Ability to insert a WidgetSpan in a StyledText"
This package is very usefull, especially for internationalization, however I have an use case where I can't use it : WidgetSpans.

I was using RichText (without translations) before and I added a sort of Chip with an avatar and a name in a WidgetSpan.

I didn't find a way to use StyledText with WidgetSpan but that would be really cool !

Is there a way that I missed ?

[2021-03-30 15:28] andyduke commented on #28
@Kobatsu Now there is no such possibility. In the near future I will think about how this could be done.

[2021-03-30 20:22] apalala-dev commented on #28
I made a PR ( #29 ) since I had an idea on how this could be achieved. It might not be perfect but could be a base for this !

[2021-03-31 18:33] patniemeyer opened #30 "Example has a typo / error..."
The onTap is a block body and should not have the '=>'.  Thanks.

[2021-03-31 18:54] andyduke commented on #30
@patniemeyer Thank you.

TODO: Remove `=>` https://github.com/andyduke/styled_text_package/blob/adf22249efec5cadd4660bc50fc42a9070cc3cce/styled_text/lib/action_text_style.dart#L16

[2021-04-02 03:01] Zabadam commented on #28
I think this a great proposal!

[2021-04-03 05:59] #27 closed

[2021-04-03 09:03] apalala-dev commented on #28
If you want to experiment with it, you can add it to your pubspec.yaml :

[code]

I am using it in my own projet but I don't have enough users / tests on it to be sure it's free of bugs.

[2021-04-16 09:20] andyduke commented on #28
I think it's time to slightly change the way that tag handlers are specified for more flexible extensibility.

I am planning to do as follows:
[code]
This will allow for more flexibility in creating tag handlers, including embedding widgets in the text.

The `styles` parameter will be retained for a while for compatibility, but will be **deprecated**, `styles` and `tags` cannot be used at the same

[2021-04-16 21:31] Zabadam commented on #28
Do you plan to have any parameters others than [StyledTextTag.style] or [StyledTextTagAction] callback?
(That is a mouthful for a small arguments class.)

[2021-04-17 19:10] #30 closed

[2021-04-17 19:14] andyduke commented on #28
@Zabadam I thought about the fact that just to specify the text style, I would have to wrap the style in an additional class, so from the very beginning it was necessary to specify the styles in StyledText. But with the increase in functionality, this became a limiting factor, because to implement link handling, insert widgets, etc., I have to make proxy classes in the TextStyle and constantly mon

[2021-05-03 11:14] yasinarik opened #31 "Error on update to version 2.0.0 for null safety: `CustomTextStyle ` & `leadingDistribution` & `copyWith`"
### BUG Description

I am trying to migrate to null safety and currently using:
`Flutter 2.2.0-10.2.pre` & `Flutter 2.0.6`
`Dart 2.12.4 (stable)`
`styled_text_package: 2.0.0`

I get this error code and don't know what to do :(

### Terminal Build Error Code
[code]

[2021-05-03 13:54] andyduke commented on #31
@yasinarik Use the stable version Flutter 2.0.6. In the pre-release version, the `leadingDistribution` property was added to `TextStyle`, `StyledText` does not yet support it.

[2021-05-03 14:16] yasinarik commented on #31
@andyduke Thanks a lot. I have switched back to `Flutter 2.0.6` and the error is gone. I hope this issue can help if anybody else faces the same error. CLosing it now.

[2021-05-03 14:16] #31 closed

[2021-05-04 06:09] ryanheise commented on #31
Hi @yasinarik

It's unfortunate the Flutter SDK made a breaking change that appears to make it impossible for you to release a version that works on both Flutter stable and Flutter beta (since it is usually a good idea for plugins to be prepared for the next Flutter release before it happens rather than after.)

However, maybe this exposes some fragility in extending `TextStyle` and you might cons

[2021-05-04 07:50] andyduke commented on #31
@ryanheise I am currently working on a new version of `StyledText` that will not directly implement `TextStyle` and will get rid of this fragility when breaking changes in newer Flutter versions.

[2021-05-06 09:53] andyduke commented on #28
@Kobatsu @Zabadam The new beta version with a different way of specifying the styles and behavior of tags, as well as inserting widgets, can be tried right now https://pub.dev/packages/styled_text/versions/3.0.0-beta+2

[2021-05-12 06:39] ryanheise opened #32 "3.0.0-beta+2 still gives compile errors on beta channel"
[code]

I think this class would need to be deprecated in a lower version, but it would need to be outright removed in the 3.0.0 release otherwise it will never compile on the latest Flutter.

[2021-05-12 09:20] andyduke commented on #32
@ryanheise Wait for the new stable version of Flutter to be released, then I will make a version that will work with the new version of Flutter.

[2021-05-15 02:32] ryanheise commented on #32
I couldn't wait since integration testing is critical in our case and Google's advice is to switch to beta for integration testing. However, if anyone else needs a fix for this issue, I've created a fork of the last stable version of styled_text that works on the beta channel:

https://github.com/ryanheise/styled_text_package/tree/flutter_beta

It's only a temporary solution until the new version

[2021-05-18 20:36] DennisLit commented on #32
@andyduke Flutter 2.2 out now, and package fails to compile on stable now.

[2021-05-19 07:39] coodysk8er commented on #32
@andyduke  @ryanheise 's solution looks good. Can you help have the fix in? Thank you.

[2021-05-19 09:18] andyduke commented on #32
@coodysk8er @ryanheise @DennisLit New version with Flutter 2.2 support already on [pub.dev](https://pub.dev/packages/styled_text)

[2021-05-19 09:18] #32 closed

[2021-05-19 09:18] #28 closed

[2021-05-21 12:33] higorlapacw opened #33 "Still having build problem with version 3.0.0"
The closed issues #32 #31 are still happing in pub.dev 3.0.0 version.

[code]

[2021-05-21 12:55] andyduke commented on #33
@higorlapacw Please show the output of the command `flutter doctor -v`

[2021-05-21 13:11] higorlapacw commented on #33
[code]

[2021-05-21 13:58] ryanheise commented on #32
Now that 3.0.0 is released, I'll schedule the above temporary repo for removal in about a month (to give time for anyone using it to move off it and onto the official 3.0.0.)

[2021-05-21 18:05] andyduke commented on #33
@higorlapacw I have not been able to reproduce this problem, please provide a minimum code that reproduces this problem.

[2021-05-23 17:04] aprimault commented on #33
I have the same issue with the example code.

Launching lib/main.dart on iPad in debug mode...
Automatically signing iOS for device deployment using specified development team in Xcode project: PLHZFY3YJD
Running Xcode build...
Xcode build done.                                           16.0s
Failed to build iOS app
Error output from Xcode build:
↳
    ** BUILD FAILED **

Xcode's output:
↳
    ../

[2021-05-24 08:03] andyduke commented on #33
@aprimault Do you have the same problem in the stable version of Flutter 2.2.0?

[2021-05-24 08:09] andyduke commented on #33
@higorlapacw @aprimault According to [documentation](https://api.flutter.dev/flutter/painting/TextStyle-class.html) and [source code](https://github.com/flutter/flutter/blob/b22742018b/packages/flutter/lib/src/painting/text_style.dart#L452) of stable Flutter version there is no `overflow` property in the `TextStyle` class. It is only available in the [**master channel**](https://github.com/flutter

[2021-05-24 10:30] higorlapacw commented on #33
Hi, @andyduke, as my flutter doctor answer shows, I am in the stable channel. I will try to get more info about this issue.

[2021-05-26 00:41] andyduke commented on #33
@higorlapacw Please show the output of the extended "flutter doctor **-v**" command.

[2021-05-31 04:44] standup2go commented on #33
I've got the same issue (Flutter 2.2.1)

`[√] Flutter (Channel stable, 2.2.1, on Microsoft Windows [Version 10.0.19041.985], locale en-US)
    • Flutter version 2.2.1 at C:\DevCenter\flutter
    • Framework revision 02c026b03c (3 days ago), 2021-05-27 12:24:44 -0700
    • Engine revision 0fdb562ac8
    • Dart version 2.13.1

[√] Android toolchain - develop for Android devices (Android SDK version

[2021-05-31 11:20] brunoPetrim commented on #33
This error disturbed me for a few days, so I decided to fork it to solve this problem with the new version of the flutter:
styled_text:
     git:
       url: https://github.com/brunoPetrim/styled_text_package.git
       ref: master
       path: styled_text

[2021-05-31 11:45] higorlapacw commented on #33
@brunoPetrim, could you consider opening a PR, please?

[2021-05-31 11:48] andyduke commented on #33
@brunoPetrim @higorlapacw I do not add support for this property until a stable version of Flutter is released with this property, so as not to break compatibility with the current stable version of Flutter.

[2021-06-02 19:15] rmtmckenzie commented on #33
@andyduke Some people have to live on the dev/master/etc branches for other reasons. If @brunoPetrim would consider doing a PR, would you consider releasing the fix as a preview version (https://dart.dev/tools/pub/publishing#publishing-previews)?

That way when it hits stable, the preview version will automatically become the release version.

[2021-06-23 10:09] deepak786 commented on #33
I also forked the repo and solved the issue for dev channel:

[code]

But the better solution will be to delete the style classes such as `custom_style.dart` as it is already deprecated.

[2021-06-29 03:38] winterdl opened #35 "Could you support simple image"
Could you support render image tag, like icon tag, render thumbnail image with external link and fullscreen when tap on image. Thank you!

[2021-06-30 09:46] andyduke commented on #35
@winterdl You can insert any widget into the text, see an [example here.](https://github.com/andyduke/styled_text_package/blob/master/styled_text/README.md#an-example-of-inserting-an-input-field-widget-in-place-of-a-tag)

[2021-07-01 13:20] #35 closed

[2021-07-04 17:56] rodion-m commented on #33
@andyduke  Thanks for a great library, but now it's not working in beta channel too.

[2021-07-04 22:42] andyduke commented on #33
@rodion-m The package only works with the stable version of Flutter. For the beta channel, use the forks given in the comments above.

[2021-07-04 22:45] rodion-m commented on #33
Yes, but perhaps it costs to create a pre-release of this package to pub for beta and dev channel?

[2021-07-04 22:47] andyduke commented on #33
@rodion-m I can't do two different pre-releases for the dev and beta channels.

[2021-07-28 02:45] edwinaceron opened #36 "Can't get reference of dynamically created TextFields by tag"
Any reference that could use to get dynamically created TextFields by tag?

[2021-07-28 08:16] andyduke commented on #36
@edwinaceron What do you mean by dynamically creating a TextField?

[2021-07-28 08:25] edwinaceron commented on #36
I am using <BLANK/> tag to produce or generate a TextField like the following sample text: The quick <BLANK/> fox jumps over the lazy <BLANK/>. It will create 2 TextFields that user should enter brown and dog respectively. I am looking for a reference to access those two TextFields to get the value entered by the user.

[2021-07-28 08:54] andyduke commented on #36
@edwinaceron You can pass previously created controllers to the TextFields you create and receive field values through them.

[2021-07-28 09:16] edwinaceron commented on #36
Yes controller is needed for each TextField but how could you pass controller on each TextField? I don't think passing one controller like the following code will work:

StyledText(
  style: TextStyle(
    height: 1.0,
    fontSize: 25.0,
    color: Colors.grey,
  ),
  text: widget.question.question,
  tags: {
    'BLANK': StyledTextWidgetTag(
      TextField(
        controller: _controller;

[2021-07-28 09:40] andyduke commented on #36
@edwinaceron You can pass the controller as usual, but for two different fields, you need to use two different tags in your text.

[2021-07-28 13:53] edwinaceron commented on #36
I think passing that way  is not the best solution because number of blanks is not fixed. It might have 2, 3, 4, or 5 blanks. I am working on a quiz or a test app that would have Fill In the Blanks questions.

[2021-07-28 22:20] andyduke commented on #36
@edwinaceron You can pass a key in the tag attribute, and when creating a TextField, create a controller and save a link to it in the Map with a key from the attribute.

I will add the ability to receive tag attributes to StyledTextWidgetTag in the coming days.

[2021-07-28 22:26] andyduke opened #37 "StyledTextWidgetTagBuilder: pass attributes to builder function"
https://github.com/andyduke/styled_text_package/blob/03cf24579f690567269e72a120a02ecce0332913/styled_text/lib/tags/styled_text_tag_widget_builder.dart#L62

[2021-07-29 05:21] edwinaceron commented on #36
I'm looking forward for it, Sir. As of now I can't find any solution to my problem. Thanks.

[2021-07-29 07:06] edwinaceron commented on #37
Sir, could you add sample to its doc?

[2021-07-29 09:28] #37 closed

[2021-07-29 14:24] andyduke commented on #36
@edwinaceron I have released an updated version, you can use [StyledTextWidgetBuilderTag](https://pub.dev/documentation/styled_text/latest/tags_styled_text_tag_widget_builder/StyledTextWidgetBuilderTag-class.html) to create TextFields and save controllers to Map using keys from attributes.

[2021-07-30 02:12] edwinaceron commented on #36
Thanks @andyduke!

[2021-08-04 06:53] CassiusPacheco opened #38 "Bold Text Accessibility"
Hi there,

first of all, thanks for the amazing work. This lib is great!

I managed to make use of the `textScaleFactor` when using `StyledText` but I noticed that the bold text accessibility option does not get applied to the text automatically.

Is there a way for me to achieve that at the current state of the lib or will it need extra customisation? If it needs extra customisation, would you be

[2021-08-05 07:58] andyduke commented on #38
@CassiusPacheco Please provide the minimum code and screenshot to reproduce the problem so that I can better understand what the problem is.

[2021-08-05 07:59] #36 closed

[2021-08-13 13:21] deepak786 commented on #33
@andyduke then please remove the class`custom_style.dart`.
This class is deprecated already in the package and this is the class that is conflicting between stable and other flutter channels.

[2021-08-13 16:34] andyduke commented on #33
@deepak786 I am not removing this class yet, because it is possible that not all users have switched to the new version of the StyledText package yet.

[2021-08-13 16:43] deepak786 commented on #33
So then they can use the older version of styled_package.

[2021-08-23 15:42] #38 closed

[2021-09-05 02:14] winterdl opened #39 "Could I add gif icon or animation icon in text"

[2021-09-05 08:03] andyduke commented on #39
@winterdl You can insert any widget, including one with animation. See an example here https://pub.dev/packages/styled_text#an-example-of-inserting-an-input-field-widget-in-place-of-a-tag

[2021-09-08 19:58] DenisGL commented on #33
Hello,
I have the same error:
[code]
after upgrading to Flutter 2.5 stable version.

With styled_text 3.0.1 and 3.0.2

[2021-09-09 14:43] andyduke commented on #33
@DenisGL @deepak786 @rmtmckenzie @rodion-m In the next few days, I will update StyledText to be compatible with Flutter 2.5.

[2021-09-10 15:58] Cosphy opened #42 "Breaking change on Flutter 2.5"
Hi,

I Use your awesome package, but since the release of Flutter 2.5, it seems that there is a problem caused by some changes on flutter.

I Have this error:

../../../development/flutter/.pub-cache/hosted/pub.dartlang.org/styled_text-3.0.2/lib/custom_style.dart:8:7: Error: The non-abstract class 'CustomStyle' is missing implementations for these members:
 - TextStyle.overflow
Try to either
 - pr

[2021-09-10 16:05] Cosphy commented on #42
Sorry I forgot to precise, this error is handle when I use:

StyledText(
                        text: title,
                        style: kFont14RegularPrimary,
                        tags: {
                          'b': StyledTextTag(style: TextStyle(fontWeight: FontWeight.bold)),
                        },
                      ),

[2021-09-11 00:36] #39 closed

[2021-09-11 05:26] iptodays commented on #42
same +1

[2021-09-11 21:23] MohamedFBoussaid commented on #42
I am getting the same error 👍🏽

[2021-09-12 04:18] JigarKotak7 commented on #42
I have the same Issue after upgrade to 2.5

[2021-09-12 12:56] khawarkhan commented on #42
+1

[2021-09-12 18:30] kpk-i710 commented on #42
same +1 after upgrade to 2.5

[2021-09-13 15:29] andyduke commented on #42
A new version of StyledText 3.0.3 (compatible with Flutter 2.5) is already available on pub.dev.

[2021-09-13 15:29] #42 closed

[2021-09-13 15:29] andyduke commented on #33
A new version of StyledText 3.0.3 (compatible with Flutter 2.5) is already available on pub.dev.

[2021-09-13 15:29] #33 closed

[2021-09-13 16:11] DenisGL commented on #42
Thanks a lot!

[2021-09-13 16:12] DenisGL commented on #33
Thanks a lot!

[2021-09-13 16:12] JigarKotak7 commented on #42
Thank you very much!!

[2021-09-14 15:30] tamas-kiss-resideo opened #43 "The compatibility fix for Flutter 2.5 should have gone to a higher version bump"
having ^3.0.1 for instance in a project that is not ready for Flutter 2.5 should not break on a patch bump.

[2021-10-07 18:13] ROCKWAR opened #44 "Do not return the text pressed"
Before this worked well on version 1.0.1:

'f': ActionTextStyle(
              onTap: (TextSpan texto, Map<String, String> attrs) =>
                  _openRef(context, texto, attrs),
            ),

Now, on version 3.03;  texto does not receive or returns anything :
'f': StyledTextActionTag(
              (texto, _) {
                selectRef = true;
                print('SELECCIONADO REFERENCI

[2021-10-08 00:31] andyduke commented on #44
@ROCKWAR Please provide a minimum code to reproduce the problem.

[2021-10-08 18:20] ROCKWAR commented on #44
// Just put this container in a Flutter application and you will see that it only prints the NULL value, when it should be: [1↑]

Container(
              padding: const EdgeInsets.symmetric(horizontal: 10),
              child: StyledText.selectable(
                toolbarOptions: const ToolbarOptions(copy: true),
                style: const TextStyle(fontSize: 18),
                text: "A tex

[2021-10-08 18:45] andyduke commented on #44
@ROCKWAR Please use the back tick to decorate the code, now I don't see where the "f" tag is located.

[2021-10-08 19:29] ROCKWAR commented on #44
[code]

[2021-10-09 09:44] andyduke commented on #44
@ROCKWAR This is a bug and has already been fixed in [StyledText ^3.0.4](https://pub.dev/packages/styled_text).

[2021-10-09 10:29] andyduke commented on #43
@tamas-kiss-resideo You are right, but what has been done can no longer be fixed.

[2021-10-09 10:29] #43 closed

[2021-10-10 02:45] #44 closed

[2021-10-16 21:43] guibsonarc opened #45 "Custom Style: No named parameter with the name 'overflow'"
I find this error when running the project using this code snippet with flutter 2.2.1

Code snippet:
`StyledText(
  text: 'Example: <b>bold</b> text.',
  tags: {
    'b': StyledTextTag(style: TextStyle(fontWeight: FontWeight.bold)),
  },
)`

Error:
../../../.pub-cache/hosted/pub.dartlang.org/styled_text-3.0.4/lib/custom_style.dart:69:7: Error: No named parameter with the name 'overflow'.
      ove

[2021-10-16 23:18] andyduke commented on #45
@guibsonarc For Flutter 2.2.x you need to use StyledText 3.0.2.  If you want to use a more recent version of StyledText, then you need to update Flutter to version 2.5.x.

[2021-10-16 23:18] #45 closed

[2021-10-17 00:28] guibsonarc commented on #45
@andyduke Thank you, worked fine!

[2021-10-31 06:36] trsimanto opened #46 "Error: No named parameter with the name 'overflow'."

[2021-10-31 10:26] andyduke commented on #46
@trsimanto See https://github.com/andyduke/styled_text_package/issues/45#issuecomment-945020152

[2021-10-31 10:26] #46 closed

[2021-11-25 17:12] patniemeyer opened #47 "3.0.4+1 "'CustomStyle.apply' has fewer named arguments" error with master."
Getting a build error on the latest flutter master.  Thanks!

`../../../../../Development/Packages/flutter-sdk-master/.pub-cache/hosted/pub.dartlang.org/styled_text-3.0.4+1/lib/custom
_style.dart:17:13: Error: The method 'CustomStyle.apply' has fewer named arguments than those of overridden method
'TextStyle.apply'.
  TextStyle apply({
            ^
../../../../../Development/Packages/flutter-sdk-

[2021-12-09 07:25] toeydevelopment commented on #47
I fixed it

for temporary fix you can install package as below:

styled_text:
    git:
      url: https://github.com/toeydevelopment/styled_text_package
      path: styled_text/

[2021-12-13 12:26] andyduke commented on #47
Use version 4.0.0

[2021-12-13 12:26] #47 closed

[2022-02-16 14:20] srkrishnan1989 opened #50 "fix theme issue while changing light to dark theme"
Hi dev,

first of all, thanks for the great work.

issue is while changing light to dark theme, styled_text text remain as light theme text color,  when scrolling styled_text text changed to  dark theme text color.

 styled_text not working with theme changing.

[2022-02-16 16:09] andyduke commented on #50
@srkrishnan1989 Please provide the minimum code to reproduce the problem.

[2022-02-17 14:50] srkrishnan1989 commented on #50
create fresh  app using  "flutter create -t skeleton my_app"

just replace code using styled_text on  "sample_item_list_view.dart" file

replace this code
`title: Text('SampleItem ${item.id}'),`

with
[code]
change  items list length to 30 count,
now run the app,

click gear icon on appbar and change system theme to dark and go back,

now scroll

[2022-02-18 10:45] srkrishnan1989 opened #51 "fix smooth scrolling issue on android"
scrolling issue on android

while scrolling from bottom to top/up, its jump to  previous ListTile,

the code to reproduce the problem,

create fresh app using "flutter create -t skeleton my_app"

just replace code using styled_text on "sample_item_list_view.dart" file

replace this code
[code]

with
[code]

change items list length to 30 count,

now build the app and run on android devices,

while

[2022-02-18 13:48] srkrishnan1989 opened #52 "fix styled text on Appbar"
fix  styled text on Appbar while using NestedScrollView ,SliverAppBar,

issue is while using floating on SliverAppBar , when scrolling bottom to top, styled text disappear/not shown,

 the  code to reproduce the problem.

[code]

change items list length to 10 count,

run the  app,

when scrolling bottom to top, styled text disappear/not shown,

when it reach top then only ,styled text appear/show

[2022-02-18 14:51] andyduke commented on #52
@srkrishnan1989 Please provide minimal but complete code to reproduce the issue.

[2022-02-18 15:22] srkrishnan1989 commented on #52
create fresh app using "flutter create -t skeleton my_app"

just replace code  on "sample_item_list_view.dart" file which previous given,

change items list length to 10 count, for scrolling effect.

[2022-02-19 15:56] srkrishnan1989 commented on #52
I have attached  screen recording , please check on Appbar,

https://user-images.githubusercontent.com/6891619/154808277-fb68dd93-d780-47e0-921f-c10e059efa55.mp4

https://user-images.githubusercontent.com/6891619/154808300-ac5e5b8e-3d12-47ae-95ed-1bb131962faf.mp4

[2022-02-23 10:11] andyduke commented on #50
@srkrishnan1989 Please show the output of the command `flutter doctor -v`

[2022-02-25 22:20] andyduke commented on #51
@srkrishnan1989 `StyledText` parses xml tags asynchronously, so at first the widget is empty, and when the xml tags are parsed, it is rebuilt with text content, this causes the widget to resize. Therefore, when scrolling the list up (and down too), when the previous widgets are rebuilt, the row height jumps.

You can make the list item's height fixed, for example by wrapping a `StyledText` in a `S

[2022-02-25 22:20] #51 closed

[2022-02-27 09:34] andyduke commented on #50
@srkrishnan1989 The problem is solved in the new version 5.0.0. Please check if this helped you.

[2022-02-27 09:34] andyduke commented on #52
@srkrishnan1989 The problem is solved in the new version 5.0.0. Please check if this helped you.

[2022-03-02 14:42] #52 closed

[2022-03-02 14:42] #50 closed

[2022-03-06 13:58] srkrishnan1989 commented on #51
in my app I can't  make fixed height SizedBox.

[2022-03-15 14:14] SteepSheep opened #53 "Text of tag to StyledTextWidgetBuilderTag"
It would be nice if the StyledTextWidgetBuilderTag builder also would pass in the text inside the tag

[2022-03-16 22:40] andyduke commented on #53
Inside the tag there can be not only text, but also other tags, so passing the text to the builder will not help much.

[2022-03-22 12:43] KyleKun opened #54 "Apostrophes are not rendered"
Using the example, if you add a common single apostrophe ( ' ) in any text, it is not shown running on the web.

[2022-03-22 12:55] KyleKun commented on #54
Oh nvm, just found about &apos , thanks!

[2022-03-22 12:55] #54 closed

[2022-03-31 20:07] igorcd opened #55 "Building after dispose when rolling a list causing exceptions"
Hello, first thanks for that magnific package.
My project is throwing the following exception when rolling a ListView (Probabily is building after element hide from list).

[code]

![image](https://user-images.githubusercontent.com/39352365/161140084-7fb553a8-73eb-49b1-940d-7afc39d4b4a0.png)

Thanks

[2022-04-01 08:58] andyduke commented on #55
@igorcd Could you provide a minimal code to reproduce the problem?

[2022-04-01 08:59] #53 closed

[2022-04-11 14:14] igorcd commented on #55
Example:
[code]

[2022-04-11 15:31] andyduke commented on #55
@igorcd Please check now with version [5.1.0](https://pub.dev/packages/styled_text/versions/5.1.0).

[2022-04-11 18:29] igorcd commented on #55
@andyduke resolved in 5.1.0
Thanks for you help.

[2022-04-11 18:29] #55 closed

[2022-04-13 10:56] bulletBane opened #56 "Text scale do not aligned to phone settings"
When I change text scale in phone settings, styled text will not be scaled as it considered to be.

[2022-04-13 11:10] andyduke commented on #56
@bulletBane Could you provide a minimal code to reproduce the problem?

[2022-05-20 15:28] ademar111190 opened #57 "An example of how handle html tags?"
It would be nice to have a sample on how to handle some HTML tags such as `<p> <ul>  <li> <ol> <blockquote> <h1,2,3,…> etc…` maybe a default for each one in the library?

[2022-05-20 16:58] andyduke commented on #57
@ademar111190 `StyledText` should not be considered as an HTML render, it has a different purpose - the output of formatted text, where XML (not HTML) is used as a markup language, so there are no predefined tags. You need to define the visual representation of the tags yourself. In addition, complex HTML tags like `<table>` are not supported, because this would significantly complicate the widget

[2022-06-09 06:24] sysint64 commented on #56
Had the same issue, on the version 5.1.0 it works properly.

[2022-06-09 06:52] #56 closed

[2022-06-09 06:52] #57 closed

[2022-08-31 08:52] endison1986 opened #58 "I have a problem with chat view, help please"
[look at this issue](https://github.com/robert-luoqing/flutter_list_view/issues/14), thanks

[2022-08-31 09:08] andyduke commented on #58
Please read: https://github.com/andyduke/styled_text_package/issues/51#issuecomment-1051316838

[2022-09-02 01:24] endison1986 commented on #58
ok, thanks

[2022-09-02 01:24] #58 closed

[2022-09-06 23:33] BenjaminMeyerUA opened #59 "Add SelectionArea compatibility"
Flutter 3.3 added the SelectionArea() widget, allowing all compatible child widget contents to be selectable (and allowing a selection to encompass multiple widgets). The styled_text_package uses an older implementation of .selectable, requiring an explicit per-widget choice of selectable and which is not compatible with SelectionArea().

For your consideration, I would like to suggest a small cha

[2022-09-22 16:02] tuanthyme opened #60 "find.text does not find the text"
[code]

The above test as well as test for "StyledText.selectable" fails trying to find any Text, EditableText, or RichText. This makes unit testing based on strings rendered difficult.

[2022-10-11 17:01] andyduke commented on #59
@BenjaminMeyerUA Check out version [6.0.0](https://pub.dev/packages/styled_text/versions/6.0.0) which adds support for SelectionArea.

[2022-10-11 17:01] #59 closed

[2022-10-12 21:27] BenjaminMeyerUA commented on #59
Looks good, thanks!

[2022-10-13 09:28] mikeesouth opened #61 "StyledText.selectable with action has incorrect cursor after text selection"
**Summary**
When using StyledText.selectable and selecting text, then action links does not have the correct cursor icon. The mouse cursor is correct before selecting text, but when text is selected (and even if unselected again) - the mouse cursor has an incorrect icon over the action links.

**Reproduce the bug**
I haven't created a repro fork but the example in this repo has a SelectionArea wid

[2022-10-14 13:34] andyduke commented on #61
This issue is specific to Flutter's SelectableText widget.

[2022-10-14 18:13] mikeesouth commented on #61
Ok, I'll close this as the workaround with SelectionArea seems to work just fine.

[2022-10-14 18:13] #61 closed

[2022-11-11 10:34] ABausG opened #62 "StyledText.selectable ignores newLines"
When using `StyledText.selectable` Line Breaks are not displayed.

| `StyledText` | `StyledText.selectable` |
| ------------ | ------------------------ |
| <img width="274" alt="image" src="https://user-images.githubusercontent.com/7288963/201322171-87fcc443-c03e-4729-92d3-d5d2a3a34071.png"> | <img width="268" alt="image" src="https://user-images.githubusercontent.com/7288963/201322271-8025b0cd-af

[2022-11-11 15:46] rdcoder33 commented on #3
still apostrophe is not showing

[2022-11-11 16:30] shredding commented on #3
Can you show your code? It needs to be written as `&quot;`

[2022-11-15 08:10] andyduke commented on #62
@ABausG Could you provide minimal code to reproduce this issue?

[2022-11-15 08:11] andyduke commented on #60
I think this is because StyledText parses the input text (xml) asynchronously.

[2022-11-15 08:26] ABausG commented on #62
[code]

This produces:
<img width="433" alt="image" src="https://user-images.githubusercontent.com/7288963/201868080-9f8ad309-68bf-4894-821b-8da84da49fcd.png">

[2022-11-18 10:50] Maatteogekko commented on #60
@tuanthyme  Does it work if `await tester.pumpAndSettle()` is called before the `find`?

[2022-11-29 08:23] andyduke commented on #60
I think it might work 50% of the time as a side effect. There is no exact way to wait until the end of the render.

[2022-11-29 08:42] andyduke commented on #62
@ABausG `StyledText.selectable` has `newLineAsBreaks` set to **false**, unlike regular `StyledText`. Set `newLineAsBreaks` to **true** and the widgets will behave the same:
[code]

[2022-11-29 08:42] #62 closed